<div class="result">
  <ol>

    <% if @faireparts %>

    <% @faireparts.each do |fairepart| %>
    <li> <%= fairepart.nom %></li>
    <% prices = @prices.select { |m| m.fairepart_id == fairepart.id } %>
<!--     <ol>
      <% prices.each do |price| %>
      <li> <%= price.nombre %> : <%= price.unite %></li>
      <% end %>
    </ol> -->
    <% end %>
    <% end %>
  </ol>
</div>
