<div id="notesMontage">*Taxes et frais de montage en sus. Les prix indiqués sont donnés à titre indicatif et peuvent être modifiés sans préavis</div>
<hr>
<div class="footer">
  <div class="footer-logo-box">
    <%= link_to cl_image_tag("Pro_logo_CMYK-01", :id => "footer-logo"), root_path %>
  </div>

  <div class="footer-info-box">
    <div>
      <h3><b>418 549-1227</b><br>
      prodelacopie.com</h3>
      <h4>1015, rue Chabanel, Chicoutimi (QC)  G7H 6A2</h4>
    </div>
  </div>
</div>
