

<div class="main-wrapper">
  <div class="main-container">

    <%= link_to cl_image_tag("Pro_logo_CMYK-01", :id => "navbar-logo"), root_path %>

    <h1>CALCULATEUR DE PRIX POUR LES FAIRE-PART</h1>
    <hr>


    <%= render "search_form" %>
    <hr>
    <div id="fairepart-index"><%= (render "fairepart_list") %></div>

  </div>
</div>
</div>
</div>












