

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "search_form";

@import "config/colors";
@import "index.scss";
@import "card.scss";
@import "show.scss";
@import "footer";
@import "new";
@import "prices";

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: auto;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

a.btn[disabled] {
  pointer-events: none;
}

*.disabled {
  cursor: not-allowed;
}
